
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'Times New Roman','Protest Riot', sans-serif;
font-size: 23px;
}

 body {
  height: 100%;
  display: flex; 
  flex-direction: column; 
  /*background: linear-gradient(#e66465, #9198e5); */
  background-image: url(./pictures/scaryBackground.avif);
  background-attachment: fixed; 
  background-position: center;
  
  
}
.welcome{
    position: relative;
    text-align: center;
    background-color: rgb(35, 35, 37);
    color: azure;
    font-size: larger;
    height: 50px;
    padding-top: 50px;
}
.welcome h1{
  font-size: 40px;
}
.input-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    color: white;
    flex: 1;
    justify-content: center;

}
.input-section{
    margin-top: 50px;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    height: 600px;
    width: 1200px;
    text-align: center;
    border-width: 5px;
    border-style:solid ;
    Border-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: #3c4fe0;
    gap:100px;
}


.input {
  background-color: #3b3a3a;
  width:700px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: auto;
  display: flex;
  text-align: center;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px;
  overflow: hidden;

}

.input__text {
  flex-grow: 1;
  border-radius: 10px;
  padding: 10px;
}


.input-button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family:monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.input-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.input-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.input-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}   

.choice__section{
visibility: hidden;
}

